* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*findus*/
.clear-fix:after {
  display: block;
  clear: both;
  content: '';
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.card__collection {
  position: relative;
  display: block;
  background: rgba(10, 10, 10, 0.5);
  padding: 10px;
  overflow: hidden;
}

.card__collection .cards {
  width: 300px;
  height: 400px;
  display: block;
  background-size: cover;
  float: left;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background-position: center;
  margin: 10px;

}

.card__collection .cards--two {
  position: relative;
  backface-visibility: hidden;
}

.card__collection .cards--two p {
  position: absolute;
  top: 83%;
  left: -100%;
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;
  z-index: 8;
  transition: all 0.6s ease;
}

.card__collection .cards--two:hover p {
  left: 8%;
}

.card__collection .cards--two:hover img {
  transform: translateY(-15px);
}

.card__collection .cards--two:hover .cards--two__rect {
  top: 75%;
}

.card__collection .cards--two:hover .cards--two__rect:before {
  transform: translateY(15px);
}

.card__collection .cards--two:hover li {
  transform: translateY(0);
}

.card__collection .cards--two:hover .cards--two__tri {
  right: -40%;
}

.card__collection .cards--two:hover .cards--two__tri:before {
  right: -312px;
}

.card__collection .cards--two img {
  transition: all 0.2s ease;
}

.card__collection .cards--two__tri {
  border-top: 220px solid transparent;
  border-bottom: 190px solid transparent;
  border-right: 288px solid #fff;
  opacity: 0.9;
  position: absolute;
  display: block;
  top: 0;
  right: -100%;
  transition: all 0.3s ease-in-out;
}

/*.card__collection .cards--two__tri:before {
  border-top: 220px solid transparent;
  border-bottom: 190px solid transparent;
  border-right: 288px solid #57ccfd;
  position: absolute;
  content: '';
  display: block;
  top: -220px;
  right: -612px;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.2s;
}*/

.card__collection .cards--two__rect {
  width: 750px;
  height: 200px;
  background: #fff;
  display: block;
  position: absolute;
  top: 175%;
  left: -78%;
  transform: rotate(30deg);
  z-index: 5;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.card__collection .cards--two__rect:before {
  content: '';
  display: block;
  width: 100%;
  position: relative;
  height: 100%;
  background: #f07306;
  transform: translateY(200px);
  z-index: 2;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.card__collection .cards--two ul {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 9;
}

.card__collection .cards--two ul li {
  display: inline-block;
  font-size: 16px;
  margin: 7px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  transform: translateY(100px);
}

.card__collection .cards--two ul li:nth-child(2) {
  transition-delay: 0.2s;
}

.card__collection .cards--two ul li:nth-child(3) {
  transition-delay: 0.3s;
}

.card__collection .cards--two ul li:nth-child(4) {
  transition-delay: 0.4s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;

}

li {
  float: left;
}


li a {
  display: block;
  color: blue;
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
.active {
  background-color: gray;
  color: rgb(101, 255, 77);
  border-radius: 50%;

}

li a:hover {
  background-color: orange;
  color: white;
  border-radius: 50%;
}

tr {
  text-align: center;

}

th,
td {
  padding: 10px;
}
#formHeading {
  text-align: left;
  margin-top: 5%;
}

form {
  display:block;
  width: 50%;
  height: 500px;
margin-top: 2%;
  float: left;
}

#contactusimg {
  display: block;
  width: 50%;
  height: 500px;
  
  float: right;
}



/*#form {
  margin-left: 50px;
}



#contactusimg { margin-left: 50px; width: 40%;}
#section-left {
  float: left;
}

#section-right {
  float:right;
  width: 220px;
  margin-left: 30px
}*/
/*footer and header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  height: 150px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

/* Style the navigation links */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #666;
}


.header-right {
  display: flex;
  align-items: center;
}

.header-right a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.header-right a:hover {
  background-color: #666;
}

footer p {

  padding: 10px;
  text-align: center;
  font-size: 12px;
}